@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

$main-color-light-6: #fef9ff;
$main-color-light-5: #f3e5f5;
$main-color-light-4: #e1bee7;
$main-color-light-3: #ce93d8;
$main-color-light-2: #ba68c8;
$main-color-light-1: #ab47bc;
$main-color-dark-1: #8e24aa;
$main-color-dark-2: #7b1fa2;
$main-color-dark-3: #6a1b9a;
$main-color-dark-4: #4a148c;

$main-color: $main-color-light-3;
$main-color-hover: $main-color-light-1;
$main-color-shadow: $main-color-light-2;

$font-color: #2c3e50;

$wrapper-width: 1000px;
$mobile-breakpoint: 480px;
$padding_content: 10px;

@media (max-width: $mobile-breakpoint) {
  .only_laptop {
    display: none !important;
  }
}

@media (min-width: $mobile-breakpoint) {
  .only_mobile {
    display: none !important; 
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: $main-color;
  color: white;
  border-radius: 5px;
  &:hover {
    background: $main-color-hover;
  }
  &.disabled {
    cursor: default;
    background: lightgray;
  }
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  display: table;
  &:before, &:after {
    border-top: 1px solid $font-color;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 50%;
  }
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
  &.left {
    &:before {
      width: 10%;
    }
    &:after {
      width: 90%;
    }
  }
  &.right {
    &:before {
      width: 90%;
    }
    &:after {
      width: 10%;
    }
  }
}
