@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$purple-light-5: #f3e5f5;
$purple-light-4: #e1bee7;
$purple-light-3: #ce93d8;
$purple-light-2: #ba68c8;
$purple-light-1: #ab47bc;
$purple-dark-1: #8e24aa;
$purple-dark-2: #7b1fa2;
$purple-dark-3: #6a1b9a;
$purple-dark-4: #4a148c;

$blue-light-5: #E3F2FD;
$blue-light-4: #BBDEFB;
$blue-light-3: #90CAF9;
$blue-light-2: #64B5F6;
$blue-light-1: #42A5F5;
$blue-dark-1: #1E88E5;
$blue-dark-2: #1976D2;
$blue-dark-3: #1565C0;
$blue-dark-4: #0D47A1;

$green-light-5: #E8F5E9;
$green-light-4: #C8E6C9;
$green-light-3: #A5D6A7;
$green-light-2: #81C784;
$green-light-1: #66BB6A;
$green-dark-1: #43A047;
$green-dark-2: #388E3C;
$green-dark-3: #2E7D32;
$green-dark-4: #1B5E20;

$red-light-5: #FFEBEE;
$red-light-4: #FFCDD2;
$red-light-3: #EF9A9A;
$red-light-2: #E57373;
$red-light-1: #EF5350;
$red-dark-1: #E53935;
$red-dark-2: #D32F2F;
$red-dark-3: #c62828;
$red-dark-4: #B71C1C;

$main-color: $green-light-1;
$main-color-light: $green-light-4;
$main-color-hover: $green-dark-2;
$main-color-shadow: $green-dark-2;

$male-color: $blue-light-2;
$female-color: $red-light-3;
$bisexual-color: $green-light-2;
$font-color: #2c3e50;
$error-color: $red-dark-1;
$like-color: $red-dark-1;
$ban-color: $red-dark-4;
$error-color: $red-dark-4;
$block-color: $font-color;

$ban-color-message: $red-light-1;
$error-color-message: $red-light-1;
$block-color-message: lightgray;
$like-color-message: $red-light-3;
$dislike-color-message: $purple-light-3;
$message-color-message: $blue-light-3;
$visit-color-message: $green-light-3;

.male_color { color: $male-color; }
.female_color { color: $female-color; }
.bisexual_color { color: $bisexual-color; }

.error_color { color: $error-color-message; }
.error_bg { background: rgba($color: $error-color-message, $alpha: 0.1); }
.error_border { border: 3px solid $error-color-message; }

.ban_color { color: $ban-color-message; }
.ban_bg { background: rgba($color: $ban-color-message, $alpha: 0.1); }
.ban_border { border: 3px solid $ban-color-message; }

.block_color { color: $block-color-message; }
.block_bg { background: rgba($color: $block-color-message, $alpha: 0.1); }
.block_border { border: 3px solid $block-color-message; }

.like_color { color: $like-color-message; }
.like_bg { background: rgba($color: $like-color-message, $alpha: 0.1); }
.like_border { border: 3px solid $like-color-message; }

.dislike_color { color: $dislike-color-message; }
.dislike_bg { background: rgba($color: $dislike-color-message, $alpha: 0.1); }
.dislike_border { border: 3px solid $dislike-color-message; }

.messages_color { color: $message-color-message; }
.messages_bg { background: rgba($color: $message-color-message, $alpha: 0.1); }
.messages_border { border: 3px solid $message-color-message; }

.visit_color { color: $visit-color-message; }
.visit_bg { background: rgba($color: $visit-color-message, $alpha: 0.1); }
.visit_border { border: 3px solid $visit-color-message; }

$wrapper-width: 1200px;
$mobile-breakpoint: 480px;
$padding_content: 10px;

$header-height: 80px;
$header-height-mobile: 30px;
$footer-height: 80px;
$footer-height-mobile: 30px;

@media (max-width: $mobile-breakpoint) {
  .only_laptop {
    display: none !important;
  }
}

@media (min-width: $mobile-breakpoint) {
  .only_mobile {
    display: none !important; 
  }
}

.tooltip-field {
  height: 30px;
  font-size: 12px;
  color: $error-color;
  margin-left: 12px;
  text-align: left;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: $main-color;
  color: white;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background: $main-color-hover;
  }
  &.disabled {
    cursor: default;
    background: lightgray;
  }
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.error {
  .title {
    color: rgba($color: $error-color, $alpha: 1.0);
    &:before, &:after {
      border-color: rgba($color: $error-color, $alpha: 1.0);
    }
  }
}
.title {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  text-align: left;
  display: table;
  overflow: hidden;
  &:before, &:after {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.45);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 50%;
  }
  &:before { right: 5px; }
  &:after { left: 5px; }
  &.left {
    &:before {
      width: 5%;
    }
    &:after {
      width: 95%;
    }
  }
  &.right {
    &:before {
      width: 95%;
    }
    &:after {
      width: 5%;
    }
  }
}

@mixin uesr-animation() {
  .user-enter-active {
    transition: all 0.5s;
    transition-delay: 0.5s;
    .gender {
      animation: 0.5s show 0.5s ease-in forwards;
    }
    .pref_0 {
      animation: 0.5s show0 0.5s ease-in forwards;
    }
    .pref_1 {
      animation: 0.5s show1 0.5s ease-in forwards;
    }
    .pref_2 {
      animation: 0.5s show2 0.5s ease-in forwards;
    }
    .image {
      transition: all 0.000.5s;
      transition-delay: 0.5s;
      opacity: 1;
    }
    .image .custom_image {
      transition: all 0.5s;
      transition-delay: 0.5s;
    }
    .fio {
      transition: all 0.5s;
      transition-delay: 0.5s;
    }
    .biography {
      transition: all 0.5s;
      transition-delay: 0.5s;
    }
    .tags {
      transition: all 0.5s;
      transition-delay: 0.5s;
    }
  }

  .user-leave-active {
    transition: all 0.5s;
    .gender {
      animation: 0.5s hide ease-out forwards;
    }
    .pref_0 {
      animation: 0.5s hide0 ease-out forwards;
    }
    .pref_1 {
      animation: 0.5s hide1 ease-out forwards;
    }
    .pref_2 {
      animation: 0.5s hide2 ease-out forwards;
    }
    .image {
      transition: all 0.5s;
      opacity: 1;
    }
    .image .custom_image {
      transition: all 0.5s;
    }
    .fio {
      transition: all 0.5s;
    }
    .biography {
      transition: all 0.5s;
    }
    .tags {
      transition: all 0.5s;
    }
  }

  .user-leave-to {
    .fio {
      transform: translateX(-100px);
      opacity: 0;
    }
    .image .custom_image {
      transform: rotate(-360deg);
      opacity: 0.5;
    }
    .tags {
      transform: translateX(100px);
      opacity: 0;
    }
  }
  .user-enter {
    .fio {
      transform: translateX(100px);
      opacity: 0;
    }
    .image {
      opacity: 0;
    }
    .image .custom_image {
      transform: rotate(360deg);
      opacity: 0.5 ease-out;
    }
    .tags {
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  .user-enter, .user-leave-to {
    .biography {
      opacity: 0;
    }
  }

  .user-move {
    transition: transform 0.5s;
  }


  @keyframes show {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
        scale(0.5);
    }
    100% {
      transform:
        rotate(-150deg)
        translateX(120px)
        rotate(150deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show0 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-115deg)
        translateX(120px)
        rotate(115deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show1 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-95deg)
        translateX(120px)
        rotate(95deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show2 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-75deg)
        translateX(120px)
        rotate(75deg)
        translate(-50%, -50%);
    }
  }


  @keyframes hide {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
        scale(0.5);
    }
  }
  @keyframes hide0 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }
  @keyframes hide1 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }
  @keyframes hide2 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }

}

